In [1]:
print("name")

name

In [2]:
print(name)

NameError: name 'name' is not defined

In [3]:
name :str = "Abdul Rehman"
print(name)

Abdul Rehman

#String Data Type in Python

In [5]:
name :str = "Abdul Rehman"
print(type(name))
print(name)

<class 'str'>
Abdul Rehman

In [6]:
message : str = "PIAIC Student Card \n Father's name"
print(message)

PIAIC Student Card
 Father's name

In [7]:
name : str = "Abdul Rehman"
fname : str = "Maqsood Hussain"
education: str = "BSSE"
age : int = 30

card : str = "PIAIC Student Card \n Student Name: " + name + "\n Age :" + age
print(card)

TypeError: can only concatenate str (not "int") to str

In [8]:
name : str = "Abdul Rehman"
fname : str = "Maqsood Hussain"
education: str = "BSSE"
age : int = 30

card : str = "PIAIC Student Card \n Student Name: " + name + "\n Age :" + str(age)
print(card)

PIAIC Student Card
 Student Name: Abdul Rehman
 Age :30

Multi_Line String """ """, ''' '''

In [9]:
name : str = "Abdul Rehman"
fname : str = "Maqsood Hussain"
education: str = "BSSE"
age : int = 30

card : str = """ 
PIAIC Student Card
Student Name:
Father's Name:
Age:
Education:
"""

print(card)

PIAIC Student Card
Student Name:
Father's Name:
Age:
Education:

F_String Python

In [11]:
name : str = "Abdul Rehman"
fname : str = "Maqsood Hussain"
education: str = "BSSE"
age : int = 30

card : str = f""" 
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education}
"""

print(card)

PIAIC Student Card
Student Name: Abdul Rehman
Father's Name: Maqsood Hussain
Age: 30
Education: BSSE

F-string and Jinja style

In [12]:
f""" 
student name : {name}
"""

' \nstudent name : Abdul Rehman\n'

In [13]:
# Jinja Style
"""
student name {{name}}
"""

'\nstudent name {{name}}\n'

In [15]:
name : str = 'Abdul Rehman'
fname : str = "Maqsood Hussain"
education : str = "BSSE"
age : int = 21  

card : str = f"""
PIAIC Student Card
Student Name : %s
Father's Name: %s
Age: %d
Education : %s

""" % (name, fname, age, education)

print(card)

PIAIC Student Card
Student Name : Abdul Rehman
Father's Name: Maqsood Hussain
Age: 21
Education : BSSE

In [18]:
[i for i in dir(str) if "_" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [19]:
a = 7
b = 8
#{} Place Holder
#                   0                1           0,1
"Pakistan value a = {} and value b = {} ".format(a,b)

'Pakistan value a = 7 and value b = 8 '

In [21]:
name : str = "AbDuL ReHmaN"
print(name.capitalize())
print(name.lower())
print(name.upper())
print(name.casefold())
print(name.encode())
print(name.isnumeric())
print(name.isprintable())
print(name.isdigit())

Abdul rehman
abdul rehman
ABDUL REHMAN
abdul rehman
b'AbDuL ReHmaN'
False
True
False

In [22]:
name : str = 'Abdul Rehman'
fname : str = "Maqsood Hussain"
education : str = "BSSE"
age : int = 21  

card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}

Total {2+4+3+7+9}
""" 

print(card)

PIAIC Student Card
Student Name : Abdul Rehman
Father's Name: Maqsood Hussain
Age: 21
Education : BSSE

Total 25

In [24]:
name : str = 'Abdul Rehman'
fname : str = "Maqsood Hussain"
education : str = "BSSE"
age : int = 21  

card : str = """
PIAIC Student Card
Student Name : {}
Father's Name: {}
Age: {}
Education : {}
""".format(fname,name,education,age)
print(card)

PIAIC Student Card
Student Name : Maqsood Hussain
Father's Name: Abdul Rehman
Age: BSSE
Education : 21

In [25]:
name : str = 'Abdul Rehman'
fname : str = "Maqsood Hussain"
education : str = "BSSE"
age : int = 21  

card : str = """
PIAIC Student Card
Student Name : {}
Father's Name: {}
Age: {}
Education : {}
""".format(name,fname,age,education)

print(card)

PIAIC Student Card
Student Name : Abdul Rehman
Father's Name: Maqsood Hussain
Age: 21
Education : BSSE

In [26]:
name : str = 'Abdul Rehman'
fname : str = "Maqsood Hussain"
education : str = "BSSE"
age : int = 21  

card : str = """
PIAIC Student Card
Student Name : {1}
Father's Name: {0}
Age: {3}
Education : {2}
""".format(fname,name,education,age)

print(card)

PIAIC Student Card
Student Name : Abdul Rehman
Father's Name: Maqsood Hussain
Age: 21
Education : BSSE

In [27]:
name : str = 'Abdul Rehman'
fname : str = "Maqsood Hussain"
education : str = "BSSE"
age : int = 21  

card : str = """
PIAIC Student Card
Student Name : {a}
Father's Name: {b}
Age: {c}
Education : {d}
""".format(a=name, b=fname, c=age, d=education)

print(card)

PIAIC Student Card
Student Name : Abdul Rehman
Father's Name: Maqsood Hussain
Age: 21
Education : BSSE

#Recommended below two f-string format

In [28]:
name : str = 'Abdul Rehman'
fname : str = "Maqsood Hussain"
education : str = "BSSE"
age : int = 21  

card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

PIAIC Student Card
Student Name : Abdul Rehman
Father's Name: Maqsood Hussain
Age: 21
Education : BSSE

In [29]:
student_code : str = """
print("My name is Abdul Rehman")
a : int = 7
b : int = 8
print(a+b)
"""

exec(student_code)

My name is Abdul Rehman
15

In [30]:
student_code : str = """
print("My name is Abdul Rehman")
a : int = 7
b : int = 8
print(a+b)
"""

display(student_code)

'\nprint("My name is Abdul Rehman")\na : int = 7\nb : int = 8\nprint(a+b)\n'

# Explore String methods and attributes
### Pre-Defined Global Functions

_print
_type
_id
_dir
_len

In [31]:
a : list[str] = [i for i in dir(str) if "_" not in  i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
46

In [32]:
name : str = "AbDul RehMAn"

#variable_name.method()
print(name.capitalize())

Abdul rehman

In [33]:
name : str = "AbDul RehMAn"

#variable_name.method()
print(name)
print(name.casefold())

AbDul RehMAn
abdul rehman

In [34]:
name : str = "AbDul RehMAn"

#variable_name.method()
print(name)
print(name.lower())

AbDul RehMAn
abdul rehman

In [36]:
name : str = "          AbDul RehMAn"

#variable_name.method()
print(name)
print(name.lstrip())

          AbDul RehMAn
AbDul RehMAn

In [37]:
name : str = "AbDul RehMAn"

#variable_name.method()
print(name)
print(name.rstrip())

AbDul RehMAn
AbDul RehMAn

In [38]:
name : str = "            AbDul      RehMAn               "

#variable_name.method()
print(name)
print(name.strip())

            AbDul      RehMAn
AbDul      RehMAn

In [39]:
import re

name : str = "      MuHammAd           QasIm         "

display(name)

name1 : str = re.sub(' {2,100}',' ', name).strip()
display(name1)

'      MuHammAd           QasIm         '

'MuHammAd QasIm'

In [40]:
name : str = "MuHammAd QasIm"

#variable_name.method()
display(name)
display(name.title())

'MuHammAd QasIm'

'Muhammad Qasim'

In [41]:
name:str = "Ada Lovelace"
print(name.upper())
print(name.lower())

ADA LOVELACE
ada lovelace

In [42]:
print("Name:\t\t Abdul Rehman")

Name:		 Abdul Rehman

In [43]:
print("Name:\nAbdul Rehman")

Name:
Abdul Rehman

In [44]:
print("Name:\bAbdul Rehman")

NameAbdul Rehman

In [45]:
nostarch_url:str = 'https://nostarch.com'
nostarch_url.removeprefix('https://')

'nostarch.com'

In [46]:
1name : str = "Qasim"
print(1name)

SyntaxError: invalid decimal literal (2214117265.py, line 1)

In [47]:
_1name : str = "Abdul"
print(_1name)

Qasim

In [51]:
piaic student name : str = "Abdul Rehman"
print(piaic student name)

SyntaxError: invalid syntax (607538401.py, line 1)

In [50]:
piaic_student_name : str = "Abdul Rehman"
print(piaic_student_name)

Abdul Rehman