# List

In [12]:
names : list[str] = ["Abdul", "Farhan", "Hamza"]
print(names)

['Abdul', 'Farhan', 'Hamza']

In [13]:
names : list[str] = ["Abdul", "Farhan", "Hamza"]
for name in names:
    print(name)

Abdul
Farhan
Hamza

In [14]:
names : list[str] = ["Abdul", "Farhan", "Hamza"]
i : int = 0

while i < len(names):
    print(names[i])
    i += 1

Abdul
Farhan
Hamza

In [15]:
for name in names:
    print(f"Welcome {name.title()}")

Welcome Abdul
Welcome Farhan
Welcome Hamza

In [16]:
for name in names:
    print(f"Welcome {name.title()}")
    print(f"Hello {name.title()}")

Welcome Abdul
Hello Abdul
Welcome Farhan
Hello Farhan
Welcome Hamza
Hello Hamza

In [17]:
for name in names:
    print(f"Welcome {name.title()}")
    print(f"Hello {name.title()}")
print("Pakistan Zindabad")

Welcome Abdul
Hello Abdul
Welcome Farhan
Hello Farhan
Welcome Hamza
Hello Hamza
Pakistan Zindabad

In [18]:
for name in names[:1]:
    print(f"Welcome {name.title()}")
    print(f"Hello {name.title()}")
print("Pakistan Zindabad")

Welcome Abdul
Hello Abdul
Pakistan Zindabad

In [19]:
for name in names[:-2]:
    print(f"Welcome {name.title()}")
    print(f"Hello {name.title()}")
print("Pakistan Zindabad")

Welcome Abdul
Hello Abdul
Pakistan Zindabad

In [21]:
data_base :list [tuple[str,str]] = [("Abdul","123"),
                                    ("Farhan","456"),
                                    ("Hamza", "789")]

for row in data_base:
    print(row)

('Abdul', '123')
('Farhan', '456')
('Hamza', '789')

In [22]:
data_base :list [tuple[str,str]] = [("Abdul","123"),
                                    ("Farhan","456"),
                                    ("Hamza", "789")]

for row in data_base:
    user,password = row
    print(user,password)

Abdul 123
Farhan 456
Hamza 789

In [24]:
input_user :str = input("Enter Your Name")
print(input_user)

Abdul

In [25]:
data_base :list [tuple[str,str]] = [("Abdul","123"),
                                    ("Farhan","456"),
                                    ("Hamza", "789")]

input_user : str = input("Enter user name")
input_password : str = input("Enter Your Password")

for row in data_base:
    user,password = row
    if input_user == user and input_password == password:
        print(f"Valid User {user}")
    break
else:
    print("Invalid User")

Valid User Abdul

In [27]:
names : list[str] = ["Abdul", "Farhan", "Hamza"]
for name in names:
    print(name)
    break

else:
    print("Hello World")

Abdul

In [29]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()} that was great trick")
    print(f"I cant wait to see your next trick {magician.title()}\n")

print("Thank you everyone that eas great magic show")

Alice that was great trick
I cant wait to see your next trick Alice

David that was great trick
I cant wait to see your next trick David

Carolina that was great trick
I cant wait to see your next trick Carolina

Thank you everyone that eas great magic show

In [30]:
#              0        1         2
magicians = ['alice', 'david', 'carolina']

list(enumerate(magicians))

[(0, 'alice'), (1, 'david'), (2, 'carolina')]

In [31]:
#              0        1         2
magicians = ['alice', 'david', 'carolina']

for index, name in enumerate(magicians):
    print(index, name)

0 alice
1 david
2 carolina

# Numbers with loop

In [32]:
range(10)

range(0, 10)

In [33]:
list(range(10))# starting=0, ending = n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
list(range(2,10))# starting=0, ending = n-1

[2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
list(range(2,21,2))# starting=0, ending = n-1 21-1=20, step

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [36]:
for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [37]:
#Table of 2
for n in range(1,11):
    print(f"{2} X {n} = {n*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [38]:
squares:list[int] = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## List comprehensive

#### for item in items_list:
####    loop_body

## Comprehensive Style

#### [loop_body for item in items_list]

In [39]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [44]:
[i**2 for i in range(1,11)] #list comprehensive

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [41]:
'line1'
'line2'
'line3' # always return last line

'line3'

In [42]:
print('line1')
print('line2')
print('line3')

line1
line2
line3

In [45]:
digits:list[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9
0
45

In [46]:
my_foods = ['pizza', 'falafel', 'carrot cake'] 
friend_foods = my_foods[:] # deep copy

print(my_foods)
print(friend_foods)

friend_foods[0] = "Tikka"

print(my_foods)
print(friend_foods)

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['Tikka', 'falafel', 'carrot cake']

# Tuples

In [47]:
names:tuple[str] = ('A',"B",'C')
print(names[0])
print(names[0:2])

A
('A', 'B')

In [48]:
names:tuple[str] = ('A',"B",'C')

names[0] = "Pakistan"  #tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [49]:
names:tuple[str] = ('A',"B",'C')

names:tuple[str] = ('Pakistan',"B",'C')

print(names)

('Pakistan', 'B', 'C')

In [50]:
from typing import Any
data : tuple[Any] = ("A",[1,2,3], True)

print(data)

('A', [1, 2, 3], True)

In [51]:
data : tuple[Any] = ("A",[1,2,3], True)

print(data[1])
data[1].append(20)
print(data)

[1, 2, 3]
('A', [1, 2, 3, 20], True)

In [52]:
a  = input("abc") # return string type
print(type(a))
print(a)

<class 'str'>
669

In [53]:
sorted([7,8,1,3])

[1, 3, 7, 8]